.img {
    width: 200px;
    height: 200px;
}

.deckContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.charSection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 5%;
    z-index: -1;
}
    

.card {
    width: 200px;
    margin: 1%;
}

.name {
    font-weight: bold;
}

.charInfo {
    font-size: 12px;
}